/* 
Description:	Common, Shared CSS
Theme:			Default
*/

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

sup { vertical-align: top; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


table.griddata {
width:auto !important;
border-bottom: 1px solid rgba(0,0,0,0.2);
border-top: 1px solid rgba(0,0,0,0.2);
border-right: 1px solid rgba(0,0,0,0.2);

}

.griddata td {
background-color:rgba(0,0,0,0.1);
border-top: 1px solid rgba(0,0,0,0.2);
border-left: 1px solid rgba(0,0,0,0.2);
border-right: 1px solid rgba(0,0,0,0.2);
padding:5px;
margin:2px;
}

.griddata th {
background-color:rgba(255,255,255,0.1);
border-left: 1px solid rgba(0,0,0,0.2);
padding:5px;
margin:2px;
}

.griddata td.aye {
background-color:rgba(0,255,0,0.2);
}

.griddata td.nay {
background-color:rgba(255,0,0,0.2);
}

.griddata td.editable {
cursor:pointer;
}

.griddata td.aye.editable:hover {
background-color:rgba(0,255,0,0.4);
}

.griddata td.nay.editable:hover {
background-color:rgba(255,0,0,0.4);
}

#TopAdZone {
position: relative;
float:right;
height:110px;
padding-right:5px;
padding-top:12px;
}

span.Label {
font-weight:bold;
}

span.bigtext {
    font-size: 1.4em;
}

span.smalltext {
    font-size: 0.8em;
}

span.lefttext {
display: block;
text-align: left;
}

span.centertext {
display: block;
text-align: center;
}

span.righttext {
display: block;
text-align: right;
}

.modlist .mod {
	background-image:url('../../images/icons/user-business-gray.png');
	padding:4px 5px 4px 20px;
	margin-top:4px;
	border-top:1px solid rgba(255,255,255,0.2);
	background-position:2px center;
	background-repeat:no-repeat;
	background-color:rgba(255,255,255,0.2);
	color:#000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

/*TEXT COLOURS*/
.bluefont, .bluefont a {
color:#1E90FF !important;
text-shadow:#000 0px 1px 2px;
}
.whitefont, .whitefont a {
color:white !important;
text-shadow:#000 0px 1px 2px;
}
.blackfont, .blackfont a{
color:black !important;
text-shadow:#777 0px 1px 2px, #9E9E9E 0px 0px 2px;
}
.redfont , .redfont a {
color:#f44 !important;
text-shadow:#000 0px 1px 2px;
}
.yellowfont, .yellowfont a{
color:yellow !important;
text-shadow:#000 0px 1px 2px;
}
.greenfont, .greenfont a{
color:#4f4 !important;
text-shadow:#000 0px 1px 2px;
}
.pinkfont, .pinkfont a{
color:#FFCBDB !important;
text-shadow:#000 0px 1px 2px;
}
.grayfont, .grayfont a{
color:#D3D3D3 !important;
text-shadow:#000 0px 1px 2px;
}
.orangefont, .orangefont a{
color:orange !important;
text-shadow:#000 0px 1px 2px;
}
.purplefont, .purplefont a{
color:#E2AFFF !important;
text-shadow:#000 0px 1px 2px;
}
.brownfont, .brownfont a{
color:#AA840C !important;
text-shadow:#000 0px 1px 2px;
}
.cyanfont, .cyanfont a{
color:#00FFFF !important;
text-shadow:#000 0px 1px 2px;
}
/* ***** */

div.CollapseHeader {
background-position:5px 5px;
font-weight:bold;
font-size:1.2em;
padding:3px 0px 4px 25px;
background-repeat:no-repeat;
min-height: 10px;
background-image:url('../../images/icons/chevron-expand.png');
}

div.CollapseHeaderText {
min-height: 15px;
width: 100%;
cursor: pointer;
padding-right: 15px;
box-sizing: border-box;
}

div.ExpandedHeader {
background-image:url('../../images/icons/chevron.png') !important;
background-position:5px 5px !important;
background-repeat:no-repeat !important;
}

div.CollapseBlock {
display:none;
margin:10px 10px 10px 0px;
font-size:12px;
font-weight:normal;
}

#Page, #Header, #Footer, #NavigationBar {
	width:auto;
	margin:0px;
}

#Page, #Header{
	min-width:867px;
}
#NavigationBar  {
	min-width:859px;
}

#Footer  {
	min-width:817px;
}

#Footer h3 {
margin-top:0px;
}

#Footer td.first, #Footer td.second {
width:25%;
min-width:180px;
}

.thumb-l1 { display:inline-table;vertical-align:middle;width:120px;height:120px;text-align:center;}
.thumb-l2 {display:table-cell;vertical-align:middle;text-align:center;}
.thumb-l2 img { border:0px;-moz-box-shadow: 0px 0px 5px #000;-webkit-box-shadow: 0px 0px 5px #000;box-shadow: 0px 0px 5px #000;text-align:center; }

.Required_Indicator {
	color:red;
	font-weight:bold;
	float:left;
	padding-top:2px;
	margin-right:5px;
}
.NavMenuBox li{
-moz-box-shadow: 0 0 4px #222;
-webkit-box-shadow: 0 0 4px #222;
}

#Container {
margin-bottom:20px;
}

.SmallToolbarButton {
	display:block;
	float:left;
	width:16px;
	height:16px;
	background:url('../../images/common_icons.png') no-repeat 1px -935px;
	border-style:solid;
	border-width:1px;
	border-right:0px;
	cursor:pointer;
	padding:1px;
}

div.JustifyBlock {
	text-align: justify; 
}

#BlockUI {
	background-color:#999;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	z-index:99;
	cursor:wait;
	position:fixed;
	left:0px;
	top:0px;
	min-width:100px;
	min-height:100px;
}

#BlockUIInput {
	z-index:100;
	cursor:default;
	position:fixed;
	top:0px;
	width:40%;
	margin-left:30%;
	margin-top:200px;
	padding:10px;
	height:300px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.BlacklistLink {
float:right;
text-decoration:underline;
cursor:pointer;
width:16px;
height:16px;
display:block;
background-repeat:no-repeat;
color:#000;
font-weight:bold;
background-image:url('../../images/common_icons2.png');
background-position: 0px -396px;
}

.TrackingRemove, .BookmarkRemove {
float:left;
background-image:url('../../images/icons/cross.png');
display:block;
width:16px;
margin-right:5px;
height:16px;
background-repeat:no-repeat;
background-position:center center;
cursor:pointer;
}

h2 {
margin-top:5px;
}

.SmallToolbarButton:hover {
	background:url('../../images/common_icons.png') no-repeat 0px -909px;
	border-style:solid;
	border-width:1px;
	border-right:0px;
}

.ListedShout {
	margin-bottom:15px;
	cursor:default;
}

.SmallToolbar {
	padding:3px 5px 2px 5px;
	position:absolute;
	border-style:solid;
	border-width:1px;
	min-height:40px;
	display:none;
	-moz-box-shadow:#000 0px 1px 4px;
	-webkit-box-shadow:#000 0px 1px 4px;
	box-shadow:#000 0px 1px 4px;
}

.SmileyBox {
	padding-top:3px;
	clear:both;
}

#Logo {
	background-repeat:no-repeat;
}

.QuoteHeader {
	font-weight:bold;
	margin-bottom:5px;
}

blockquote {
	padding:10px;
	margin:2px;
	font-style:italic;
	border-style:solid;
	border-width:1px;
	-webkit-box-shadow:#111 0px 0px 1px;
	-moz-box-shadow:#111 0px 0px 1px;
	box-shadow:#111 0px 0px 1px;
}

.TextareaToolbar {
	border-style:solid;
	border-width:1px;
	min-height:40px;
	margin-right:-5px;
	padding:5px;
}

.ToolbarButton {
	width:20px;
	height:20px;
	cursor:pointer;
	display:block;
    overflow:hidden;
	float:left;
	margin-right:2px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-position: center center;
    background-repeat:no-repeat;
}

.ToolbarColor {
	background-image:url('../../images/icons/edit-color.png');
}

.ToolbarIcon {
	background-image:url('../../images/icons/user.png');
}

.ToolbarInline {
    background-image:url('../../images/icons/image.png');
}

.ToolbarQuote {
	background-image:url('../../images/icons/edit-quotation.png');
}

.ToolbarJustify {
	background-image:url('../../images/icons/edit-alignment-justify.png');
}

.ToolbarCollapse {
	background-image:url('../../images/icons/chevron-small-expand.png');
}

.ToolbarLink {
	background-image:url('../../images/icons/chain--plus.png');
}

.ToolbarBold {
	background-image:url('../../images/icons/edit-bold.png');
}

.ToolbarItalic {
	background-image:url('../../images/icons/edit-italic.png');
}

.ToolbarUnderline {
	background-image:url('../../images/icons/edit-underline.png');
}

.SubscriberLink {
	background-image:url('../../images/common_icons.png');
	background-position: 0 -1014px;
}

.OnlineCharacter a {
	color:#3bd34b !important;
}

.OfflineCharacter a {
	color:#d33b4b !important;
}

.AdminLink {
	background-image:url('../../images/common_icons.png');
	background-position: 0 -988px;
}

body, html {
	margin:0px;
	min-height:100%;
	padding:10px;
}

.StyledForm p {
margin:2px 0px 2px 0px;
padding:0px;	
clear:both;
min-height:30px;
display:block;
}

.StyledForm textarea {
margin-bottom:2px;
}

.StyledForm p span.element select  {
	min-width:120px;
}

.StyledForm p span.element .check  {
	margin-top:3px;
}

.StyledForm p span.label, .StyledForm p span.element {
	float:left;
	margin-top:0px;
	display:block;
}
.UploadedCharacterImage img {
vertical-align:middle;
}
.InfotagGroup  span.label {
margin-left:5px;
}
.StyledForm p span.element input , .StyledForm p span.element select {
margin:0px;
}

.StyledForm p span.element .file {
margin-top:-2px;
}

.PersonalsAd {
	padding:10px;
	min-height:100px;
}

.PersonalsAdImage {
    margin-left:10px;
	float:right;
}

.FormLabel{
	float:left;
	width:210px;
	font-weight:bold;
	margin:0px 0px 0px -230px !important;
	padding:5px 15px 5px 5px !important;
	text-align:right;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.StyledForm input[type=button], .StyledForm input[type=submit] {
	padding:6px 8px 6px 8px;
}

.StyledForm p span.element {
	padding-top:4px;
	height:23px;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

.StyledForm p label {
text-decoration:underline;
cursor:pointer;vertical-align:top;margin-left:5px;
}

.StyledForm p .check:disabled {
opacity:0.3;
}

.StyledForm p span.label {
	font-weight:bold;
	min-width:120px;
	white-space:nowrap;
	padding-top:6px;
	height:21px;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.LightPanel, .MediumPanel, .DarkPanel {
	border-style:solid;
	border-width:1px;
	padding:10px;
}

.IconLink {
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	background-repeat:no-repeat;
}

.FooterWarning {
	font-weight:bold;
}

.RssLink { float:right;margin-right:10px;}
.RssLink  img { border:0px;}

#Note_Content {
min-height:80px;
}

.Note_Avatar {
float:right;
margin:10px;
}

.GroupAvatar, .ParsedAvatar {  
	border:0px;
	width:100px;
	height:100px;
	margin-right:2px;
}

.ImageLink {
	padding:2px 2px 2px 22px;
	background-repeat:no-repeat;
	background-position:2px center;
	cursor:pointer;
	text-decoration:underline;
}

.CharacterLink {
	background-image:url('../../images/common_icons.png');
	background-position: 4px -1036px;
}

.ImageLink:hover {
	text-decoration:none;
}

#Page {
	width:100%;
}

#Content {
	height:100%;
	padding:10px;
	min-width:491px;
	vertical-align:top;
}
.FormattedBlock{
	word-break: break-word;
}

#Sidebar {
	background-repeat:repeat-y;
	background-position:right top;
	width:210px;
	border-style:solid;
	border-width:0px 0px 0px 1px;
	padding:10px;
	vertical-align:top;
	height:100%;
	min-width:210px;
	max-width:210px;
	word-break:break-word;
}

.ParsedLink {
	background-image:url('../../images/common_icons2.png');
	background-position: 1px -261px;  
}

body, td {
	font-family:verdana, helvetica;
	font-size:12px;
}

#Header h3 {
	font-weight:bold;
	font-size:2em;
}

body,html {
	height:100%;
}

#JSWarning, #Notice, #ErrorBox, #WarningBox { /* styled box to give a serious warning to the user. */
	position:fixed;
	top:25px;
	left:25%;
	width:50%;
	padding:10px;
	display:block;
	padding-left:25px;
	font-weight:bold;
	border-style:solid;
	border-width:1px;
	z-index:3004;
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}


#Notice {
	background:url('../../images/icons/tick.png') no-repeat 5px center;
}

#JSWarning, #WarningBox {
	background:url('../../images/icons/exclamation.png') no-repeat 5px center;
}

#WarningBox {background-color:#DDDD33;color:#fff;border-color:#ffff00}

#ErrorBox {
	background:url('../../images/icons/exclamation-red-frame.png') no-repeat 5px center;
	display:none;
}

#ErrorBox a.close, #Notice a.close, #WarningBox a.close {
float:right;
display:block;
cursor:pointer;
margin-left:5px;
width:16px;
height:16px;
background:url('../../images/icons/cross.png') center center no-repeat;
}

#DisplayedMessage , .DisplayedMessage { /* styled box to give a notification to the user */
	padding:10px;
	border-style:solid;
	border-width:1px;
	display:block;
	background:url('../../images/icons/exclamation.png') no-repeat 5px center;
	padding-left:25px;
	font-weight:bold;
}

h3 {
	margin:10px 0px 10px 0px;
}

#Header {
	display:block;
	height:148px;
	border-style:solid;
	border-width:1px 1px 0px 1px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}

form {
	margin:0px;
}

#Footer {
	border-style:solid;
	border-width:1px;
	display:block;
	padding:10px;
	clear:both;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}

h4 {
	margin:0px;
}

#NavigationBar {
	height:32px;
	padding-left:10px;
	white-space:nowrap;
	clear:both;
}

#FormSubmit {
	text-align:right;
	margin-top:5px;
}

table {
	border-collapse:collapse;
	padding:0px;
	margin:0px;
	width:100%;
}

td {
	vertical-align:top;
}

textarea {
	width:100%;
	height:150px;
}

#Content .Textbox {
	width:200px;
}

textarea, .Textbox {
	border-style:solid;
	border-width:1px;
	-moz-box-shadow: inset 0 0 3px #888;
	-webkit-box-shadow: inset 0 0 3px #888;
}

#LoginBox{
	white-space:nowrap;
	width:400px;
	text-align:left;
}

input#LoginBoxPassword {
	background-image:url('../../images/common_icons2.png');
	background-position: 5px -524px; 
}
input#LoginBoxUsername{
	background-image:url('../../images/icons/user-silhouette.png');
	background-position:5px center;
}

a#NavigationDetails {
	background-image:url('../../images/icons/question.png');
	
}
a#NavigationCustomKinks {
	background-image:url('../../images/icons/target.png');

}
a#NavigationImageSearch {
	background-image:url('../../images/icons/magnifier.png');

}
a#NavigationJoin, a#NavigationDetails  {
	text-decoration:underline;
	font-size:0.8em;
	color:#fff;
}
a#NavigationJoin {
	background-image:url('../../images/icons/book--pencil.png');
	float:right;
	margin:8px 10px 0px 0px;
}

input#LoginBoxUsername, input#LoginBoxPassword {
	margin:3px 5px 0px 0px;
	background-color:#eef;
	border-color:#ccd;
	width:100px;
	padding:4px 4px 4px 22px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-repeat:no-repeat;
}

input#LoginBoxUsername:focus, input#LoginBoxPassword:focus {
	border-color:#63a9eF;
}

#LoginBoxSubmit {
	background-image:url('../../images/actionbutton.png');
	background-repeat:repeat-x;
	background-position:0px 0px;
	margin:3px 5px 0px 0px;
	height:26px;
	background-color:#2468AF;
	vertical-align:top;
	border-top:1px solid #04186F;
	border-bottom:2px solid #04186F;
	border-left:1px solid #04186F;
	border-right:1px solid #04186F;
	cursor:pointer;
	padding:0px 4px 3px 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#fff;
	text-shadow:#000 0px 1px 1px;
}

#LoginBoxSubmit:hover {
	background-image:url('../../images/actionbutton-hover.png');
	background-color:#208FFF;
}

#LoginBoxSubmit:active {
	background:#fff;
}

.EvenRowItem {
	border-style:solid !important;
	border-width:1px !important;
}

#SplashWarning {
	border-style:solid;
	border-width:1px;
	padding:10px 10px 10px 22px;
	margin:10px;
	background-image:url("../../images/icons/exclamation.png") no-repeat 2px 20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#SplashWarningYes {
	background-image:url("../../images/icons/tick.png");
}

#SplashWarningNo {
	background-image:url("../../images/icons/cross-circle.png");
}

.Busy, a.Busy, div.Busy, span.Busy .Busy:hover {
	background-image:url('../../images/working.gif') !important;
	background-repeat:no-repeat;
	background-position:left center;
	cursor:wait !important;
	-moz-user-select:none;
	-webkit-user-select:none;
}

.Done, a.Done, div.Done, span.Done .Done:hover {
	background-image:url('../../images/icons/tick.png') !important;
	background-repeat:no-repeat;
	background-position:left center;
	cursor:default !important;
	-moz-user-select:none;
	-webkit-user-select:none;
}


.BusyTab, .BusyTab:hover {
	background-repeat:no-repeat !important;
	background-position:center 100px !important;
	cursor:wait !important;
}

.Error, a.Error, div.Error, span.Error .Error:hover {
	background-image:url('../../images/icons/slash.png') !important;
	background-repeat:no-repeat;
	background-position:left center;
	cursor:default !important;
	-moz-user-select:none;
	-webkit-user-select:none;
}

.VoteFeatureLink {
cursor:pointer;float:right;padding-left:20px;background-repeat:no-repeat;text-decoration:underline;background-position:2px center;
background-image:url('https://static.f-list.net/images/icons/plus.png');
}
.VotedSpan {
font-style:italic;
background-image:url('https://static.f-list.net/images/icons/tick.png');
padding-left:20px;
background-repeat:no-repeat;
background-position:2px center;
float:right;
}
.VoteExplanation {
display:none;
margin:-5px 0px 5px 0px;
}
.InfoLink, .HideLink {
text-decoration:underline;
cursor:pointer;
}

#NavigationBar ul, #NavigationBar li {
	padding:0px;
	margin:0px;
	z-index:4000; 
}

#NavigationBar li > a {
	display:block;
	padding:6px 7px 6px 7px;
	margin:-6px 0px -6px 0px;
	text-decoration:none;
	-webkit-text-size-adjust:none;
}

 #NavigationBar li {
	-moz-user-select:none;
	background-repeat:no-repeat;
	background-position:3px 3px;
	float:left;
	width:75px;
	list-style-type:none;
	border-style:solid;
	border-width:0px;
	border-right-width:1px;
	text-align:left;
	padding:3px 5px 3px 22px;
	cursor:default;
}

#NavigationBar > ul > li {
	padding:9px 2px 9px 20px;
}

#NavigationBar ul li ul {
	display:none;
	position:absolute;
}

#NavigationBar ul li:hover > ul  {
	display:block;
}

#NavigationBar ul li ul li {
	border-width:0px;
	width:84px;
	height:15px;
	border-style:solid;
	border-bottom-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	margin:3px -15px -3px -20px;
	float:none;
	opacity:0.95;
}

#NavigationChat, #NavigationCharacters, #NavigationGroups, #NavigationAccount, #NavigationHelp {
	border-style:solid;
	border-right-width:0px;
	border-left-width:1px;
	border-top-width:1px;
	border-bottom-width:1px;
	height:14px;
}


#NavigationLogout:hover {
text-decoration:none;
}


#NavigationBar #NavigationSubscription, #NavigationBar #NavigationChatGroup, #NavigationBar #NavigationCharList, #NavigationBar #NavigationGroups, #NavigationBar #NavigationAccount, #NavigationBar #NavigationChat, #NavigationBar #NavigationHelp{
	background-repeat:no-repeat;
	border-style:solid;
	border-width:0px;
    width:auto;
}

#NavigationBar #NavigationChatGroup {
	background-position: 6px center;
	background-image:url('../../images/icons/toolbox.png');
    height:14px;
}

#NavigationBar #NavigationAccount {
	background-position: 6px center;
	background-image:url('../../images/icons/wrench-screwdriver.png');
	border-right-width:1px;
    height:14px;
}

#NavigationBar #NavigationHelp {
	background-position: 6px center;
	background-image:url('../../images/icons/question.png');
	border-right-width:1px;
    height:14px;
}

#NavigationBar #NavigationChat {
	background-position: 6px center;
	background-image:url('../../images/icons/balloon-white-left.png');
	border-right-width:1px;
    height:14px;
}

#NavigationBar #NavigationCharList {
	background-position: 6px center;
	background-image:url('../../images/icons/users.png');
	border-right-width:1px;
	height:14px;
}

#NavigationBar #NavigationSubscription {
	background-position: 6px center;
	background-image:url('../../images/icons/fruit-orange.png');
    height:14px;
    border-right-width:1px;
}

#NavigationBar #NavigationGroups{
	background-position: 6px center;
	background-image:url('../../images/icons/category.png');
	height:14px;
    border-right-width:1px;
}

#NavigationMessages {
margin:5px 0px 0px 0px;
}

#NavigationLoggedIn {
text-align:right;
padding:8px 0px 0px 0px;
}

#NavigationBar ul li ul li.NavigationBottom {
	border-bottom-width:10px;
}

#NavigationBar ul li ul {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-khtml-border-bottom-left-radius:5px;
	-khtml-border-bottom-right-radius:5px;
	-o-border-bottom-left-radius:5px;
	-o-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#NavigationNotecount, #NavigationLogout {
margin:5px 0px 0px 0px;
padding:8px 10px 10px 10px;
}


#Frontpage_Tracking {
border-style:solid;
border-width:1px;
}

div.WorklogInactive {
	display:none;
}
div.CollapseHeader {
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
/* 
Description:	CSS for all pages that display a browsable listing of characters.
Theme:			Default
*/

#NextLink, #LastLink {
	width:200px;
	display:block;
	float:left;
	margin-top:10px;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
	padding:10px;
}

.CharacterTypeLink {
	font-size:12px;
}

.CharacterBrowseInfo {
	padding-left:22px;
	background-image:url('../../images/icons/information-small-white.png');
	background-repeat:no-repeat;
	background-position:2px center;
	float:left;
}

.CharacterExtraInfo {
	background-image:url('../../images/icons/brightness-small.png') !important;
}

a#CharacterBrowsePersonals {
	padding-left:22px;
	background-image:url('../../images/icons/newspapers.png');
	background-repeat:no-repeat;
	background-position:2px center;
}

a#CharacterBrowseRandom {
	padding-left:22px;
	background-image:url('../../images/icons/question.png');
	background-repeat:no-repeat;
	background-position:2px center;
}

#LastLink {
	margin-right:10px;
	padding-left:25px;
	background-image:url('../../images/icons/navigation-180.png');
	background-repeat:no-repeat;
	background-position:5px center;
}

a.ResultListing, .ListedCharacter {
	min-height:18px;
	margin-bottom:2px;
	padding:8px;
	overflow:hidden;
	white-space: normal;
	z-index:999; 
	word-wrap: break-word; 
	clear:both;
	display:block;
	text-decoration:none;
	cursor:pointer;
}

.ResultListingItem {
	text-align:left;
	margin-right:15px;
	float:left;
}


#NextLink {
	text-align:right;
	padding-right:25px;
	background-image:url('../../images/icons/navigation.png');
	background-repeat:no-repeat;
	background-position:215px center;
}

#NextLink:hover, #LastLink:hover {
	text-decoration:underline;
	border-style:solid;
	border-width:1px;
}

/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI:hover A {
	color: #FFF;
	background-color: #3399FF;
}

.dropdowntip  .ui-tooltip-content{
max-height:200px;
overflow-y: auto;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI:hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

/* dropdown checklist thing */
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute;  }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

.ui-multiselect {
width:130px !important;
}

.ui-multiselect-menu {
-moz-box-shadow: 0px 0px 5px #000;
-webkit-box-shadow: 0px 0px 5px #000;
box-shadow: 0px 0px 5px #000;
width:auto !important;
min-width:200px;
z-index:25002;
}

.ui-multiselect-checkboxes ul li label span {
white-space:nowrap;
}

.StyledForm p span.element button {
margin-top:-2px;
}
div.chzn-container {
  font-size: 13px;
  position: relative;
}

div.chzn-container input {
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 4px 5px;
  outline: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
div.chzn-container textarea:focus {
  border-color: #058cf5;
  -moz-box-shadow: 0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  box-shadow: 0px 0px 3px #aaa;
}


div.chzn-container div.chzn-drop {
  background: #FFF;
  border: 1px solid #aaa;
  border-width: 0 1px 1px;
  left: 0;
  position: absolute;
  top: 29px;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 20;
}
div.chzn-container-single div.chzn-drop {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}


/* SINGLE */
div.chzn-container a.chzn-single {
  background: #FFF;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 50%);
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  color: #444;
  line-height: 26px;
  padding: 0px 0px 0px 8px;
  position: relative;
  text-decoration: none;
  z-index: 19;
  white-space: nowrap;
}
div.chzn-container a.chzn-single span {
  display: block;
  margin-right: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.chzn-container a.chzn-single div {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
  border-left: 1px solid #aaa;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
div.chzn-container a.chzn-single div b {
  background: url('../../images/chosen-sprite.png') no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
div.chzn-container div.chzn-search {
  padding: 3px 4px;
  margin: 0px;
  white-space: nowrap;
}
div.chzn-container div.chzn-search input {
  background: url('../../images/chosen-sprite.png') no-repeat 97% -35px, #ffffff;
  background: url('../../images/chosen-sprite.png') no-repeat 97% -35px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../../images/chosen-sprite.png') no-repeat 97% -35px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../../images/chosen-sprite.png') no-repeat 97% -35px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin: 1px 0;
  outline: 0;
}


/* Multi */
div.chzn-container ul.chzn-choices {
  background: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  margin: 0;
  cursor: text;
  border: 1px solid #aaa;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  padding: 0;
  position: relative;
}
div.chzn-container ul.chzn-choices:focus {
  border-color: #058cf5;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
}
div.chzn-container ul.chzn-choices li {
  float: left;
  list-style-type: none;
  margin: 0px;
}
div.chzn-container ul.chzn-choices li.search-field {
  margin: 0px;
  white-space: nowrap;
  padding: 0px;
}
div.chzn-container ul.chzn-choices li.search-field input {
  color: #666;
  background: transparent !important;
  border: 0px !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.chzn-container ul.chzn-choices li.search-field input.default {
  color: #999;
}
div.chzn-container ul.chzn-choices li.search-choice {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e4e4e4;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
  background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
  color: #333;
  border: 1px solid #b4b4b4;
  line-height: 13px;
  padding: 3px 19px 3px 6px;
  position: relative;
  margin: 3px 0px 3px 5px;
}
div.chzn-container ul.chzn-choices li.search-choice span {
  cursor: default;
}
div.chzn-container ul.chzn-choices li.search-choice.search-choice-focus {
  background: #d4d4d4;
}
div.chzn-container ul.chzn-choices li.search-choice a.search-choice-close {
  position: absolute;
  right: 5px;
  top: 6px;
  display: block;
  width: 8px;
  height: 9px;
  font-size: 1px;
  background: url(../../images/chosen-sprite.png) right top no-repeat;
}
div.chzn-container ul.chzn-choices li.search-choice a.search-choice-close:hover {
  background-position: right -9px;
}
div.chzn-container ul.chzn-choices li.search-choice.search-choice-focus a.search-choice-close {
  background-position: right -9px;
}


/* Results */
div.chzn-container ul.chzn-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
}
div.chzn-container-multi ul.chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
div.chzn-container-multi ul.chzn-results li {
  border-left: 0px !important;
  border-right: 0px !important;
}
div.chzn-container ul.chzn-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  z-index: 22;
  margin: 0;
  list-style-type: none;
}
div.chzn-container ul.chzn-results li.active-result {
  cursor: pointer;
}
div.chzn-container ul.chzn-results li em {
  font-style: normal;
  background: #FEFFDC;
}
div.chzn-container ul.chzn-results li.highlighted {
  background: #3875d7;
  color: #fff;
}
div.chzn-container ul.chzn-results li.highlighted em {
  background: transparent;
}
div.chzn-container ul.chzn-results li.no-results {
  background: #F4F4F4;
}
div.chzn-container ul.chzn-results li.group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
div.chzn-container ul.chzn-results li.group-option {
  padding-left: 20px;
}

div.chzn-container-multi div.chzn-drop li.result-selected {
  display: none;
}



/* Active */
div.chzn-container-active a.chzn-single {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}
div.chzn-container-active a.chzn-single-with-drop {
  border: 1px solid #aaa;
  border-width: 1px 1px 1px;
  -moz-box-shadow:  0px 1px 0px #FFF inset;
  -webkit-box-shadow:  0px 1px 0px #FFF inset;
  box-shadow: 0px 1px 0px #FFF inset;
  background: #EEE;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
div.chzn-container-active a.chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
div.chzn-container-active a.chzn-single-with-drop div b {
  background-position: -18px 1px;
}
div.chzn-container-active ul.chzn-choices {
  z-index: 21;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}
div.chzn-container-active ul.chzn-choices input {
  color: #111 !important;
}
.chzn-results  > li {
    color:#000;
}

.chzn-choices , .chzn-drop {
width:330px !important;
display:inline-block;
}

.chzn-choices  input {
width:330px !important;
}

.chzn-container {
display:inline;
}

#devnotice {
position:absolute;
left:100px;
width:300px;
height:50px;
top:50px;
}

.Messagecenter_Message,#NewspostPage_Content,.replybox, ul#twitter_update_list li , .Thread_Post, .NestedComment, .Forum_Thread, #GroupHeader, .GroupForum , .Thread_Navigation, #Thread_Replybox, .EditableGroupForum, #Forum_CreateThread, .ListedCharacter, #NewComment{
    padding:8px;
}

.Thread_Post, .TicketUpdate, .replybox, #NewspostPage_Content, #GroupHeader, .GroupForum, .Thread_Navigation, #Thread_Replybox, #Thread_Controlsbox > div, #Forum_CreateThread, #NewComment {
margin:0px -10px 0px -10px;
}

.Messagecenter_Message.friendrequest {
height:15px;
padding:10px;
}

.Messagecenter_Message .avatar img {
float:left;
width:35px;
height:35px;
margin-right:10px;
margin-top:-10px;
}

.Messagecenter_Message .avatardest img {
float:right;
width:35px;
height:35px;
margin-left:10px;
margin-top:-10px;
}

.Messagecenter_Message .option {
float:right;
margin-left:10px;
cursor:pointer;
text-decoration:underline;
}


.Messagecenter_Message .option.accept {
background-image:url('../../images/icons/tick.png');
color:lime;
padding-left:20px;
background-repeat:no-repeat;
background-position:2px center;
}

.Messagecenter_Message .option.ignore {
color:#000;
}

.Messagecenter_Deletelink {
	background-image:url('../../images/icons/cross.png');
	float:right;
	margin-top:-2px;
}

.content-navigation {
width:100%;
}

.content-navigation td {
width:50%;
}

.content-navigation a {
display:block;
cursor:pointer;
background-repeat:no-repeat;
}

.content-navigation a.next {
text-align:right;
padding:8px 22px 8px 8px;
margin-right:10px;
background-position:right center;
	background-image:url('../../images/icons/control.png');

}

.content-navigation a.prev {
padding:8px 8px 8px 22px;
margin-left:10px;
background-position:left center;
	background-image:url('../../images/icons/control-180.png');
}


.mcl-busy {
	background-image:url('../../images/working.gif') !important;
	background-repeat:no-repeat;
	background-position:right center;
	cursor:wait !important;
}

.mcl-item {
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    padding:2px 5px 2px 5px;
    cursor:pointer;
    color:#000;
}
.mcl-parent {
color:#999;
border:1px solid #999;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-box-shadow:inset 0 0 5px #ccc;
-moz-box-shadow:inset 0 0 5px #ccc;
box-shadow:inset 0 0 5px #ccc;
padding:5px;
}
.mcl-parent:focus {
    color:#000 !important;
}
.mcl-item:hover {
text-decoration:underline;
}
.mcl-item > span {
    float:left;
    margin-top:-1px;
    background-repeat:no-repeat;
    background-image:url(https://static.f-list.net/images/icons/ui-check-box-uncheck.png);
    background-position:top left;
    display:block;
    width:16px;
    height:16px;
}

.mcl-item.selected > span{
    background-image:url(https://static.f-list.net/images/icons/ui-check-box.png) !important;
}

.ui-resizable-handle { z-index: 14000 !important; }

.ui-flexmenu-body {
    max-height:250px;
    overflow:auto;
    overflow-y:auto;
    overflow-x:hidden !important;
    min-width:190px;
}

.ui-flex-subaction {
    width:16px;
    height:16px;
    display:block;
    cursor:pointer;
    background-repeat:no-repeat;
    background-position:center center;
    margin:5px 3px 0px 3px;
}

.ui-flex-seperator, .ui-flex-label {
    font-weight:bold;
}

.ui-has-flexmenu {
    cursor:pointer !important;
}

.ui-flexmenu {
    position:absolute;
    z-index:999;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

.ui-flex-item {
    padding:5px 8px 5px 5px;
    display:block;
    text-decoration:none;
    white-space:nowrap;
    min-width:190px;
}

.ui-flex-item.ui-state-default {
    cursor:pointer;
}

.ui-flex-icon {
    padding-left:20px;
    background-repeat:no-repeat;
    background-position:2px center;
}

.flex-disabled{
    color:rgba(0,0,0,0.4) !important;
    cursor:default !important;
}

#PostCommentLink {
	background-image:url('../../images/icons/balloon--plus.png');
}

.NestedComment {
	min-height:50px;
	margin:0px -10px 0px -10px;
}

#CommentsBox {
    background-image:url('../../images/line.gif');
    background-repeat:repeat;
    background-position:top left;
    margin-bottom:10px;
}

.NestedComment textarea {
height:150px;
text-align:left;
}
.replybox {
padding-right:35px;
text-align:right;
}
.replybox  input{
padding:6px 10px 6px 10px;
margin-right:-8px;
}
.replybox  select{
float:left;
}
.replybox > .close {
background-image:url('../../images/icons/cross.png');
cursor:pointer;
background-position:center center;
width:20px;
height:20px;
margin-right:-30px;
float:right;
display:block;
background-repeat:no-repeat;
}
.replybox > textarea {
width:100%;
height:100px;
}

.NestedComment .actions {
clear:both;
border-top:1px dotted rgba(0,0,0,0.2);
padding-top:5px;
}

.NestedComment .actions >a {
margin-right:5px;
}

.NestedComment .reply {
	background-image:url('../../images/icons/balloon.png');
}
.NestedComment .delete {
	background-image:url('../../images/icons/cross.png');
}
.NestedComment .edit {
	background-image:url('../../images/icons/pencil.png');
}
.NestedComment .save {
	background-image:url('../../images/icons/disk.png');
    display:none;
}

.CommentAvatar {
	float:right;
	width:50px;
	height:50px;
	border:0px;
    margin-bottom:10px;
}

.Comment_Datetime {
font-style:italic;
}

.NewCommentHeader {
	background-image:url('../../images/icons/balloon.png');
	background-repeat:no-repeat;
	background-position:5px center;
	padding-left:30px;
}

/*
* qTip2 - Pretty powerful tooltips
* https://craigsworks.com/projects/qtip2/
*
* Version: 2.0.0pre
* Copyright 2009-2010 Craig Michael Thompson - https://craigsworks.com
*
* Dual licensed under MIT or GPLv2 licenses
*   https://en.wikipedia.org/wiki/MIT_License
*   https://en.wikipedia.org/wiki/GNU_General_Public_License
*
* Date: Tue Feb 7 19:31:47 2012 +0000
*/

/* Core qTip styles */
.ui-tooltip, .qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 280px;
	min-width: 50px;
	
	font-size: 10.5px;
	line-height: 12px;
}

	/* Fluid class for determining actual width in IE */
	.ui-tooltip-fluid{
		display: block;
		visibility: hidden;
		position: static !important;
		float: left !important;
	}

	.ui-tooltip-content{
		position: relative;
		padding: 5px 9px;
		overflow: hidden;

		border: 1px solid #000001;

		text-align: left;
		word-wrap: break-word;
		overflow: hidden;
	}

	.ui-tooltip-titlebar{
		position: relative;
		min-height: 14px;
		padding: 5px 35px 5px 10px;
		overflow: hidden;

		border: 1px solid #000001;
		border-width: 1px 1px 0;

		font-weight: bold;
	}

	.ui-tooltip-titlebar + .ui-tooltip-content{ border-top-width: 0px !important; }

		/*! Default close button class */
		.ui-tooltip-titlebar .ui-state-default{
			position: absolute;
			right: 4px;
			top: 50%;
			margin-top: -9px;

			cursor: pointer;
			outline: medium none;

			border-width: 1px;
			border-style: solid;
		}
		
		* html .ui-tooltip-titlebar .ui-state-default{ top: 16px; } /* IE fix */

		.ui-tooltip-titlebar .ui-icon,
		.ui-tooltip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
		}

		.ui-tooltip-icon, .ui-tooltip-icon .ui-icon{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}

			.ui-tooltip-icon .ui-icon{
				width: 18px;
				height: 14px;

				text-align: center;
				text-indent: 0;
				font: normal bold 10px/13px Tahoma,sans-serif;

				color: inherit;
				background: transparent none no-repeat -100em -100em;
			}


/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.ui-tooltip-focus{

}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.ui-tooltip-hover{
	
}


/*! Default tooltip style */
.ui-tooltip-default .ui-tooltip-titlebar,
.ui-tooltip-default .ui-tooltip-content{
	border-color: #F1D031;
	background-color: #FFFFA3;
	color: #555;
}

	.ui-tooltip-default .ui-tooltip-titlebar{
		background-color: #FFEF93;
	}

	.ui-tooltip-default .ui-tooltip-icon{
		border-color: #CCC;
		background: #F1F1F1;
		color: #777;
	}
	
	.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover{
		border-color: #AAA;
		color: #111;
	}

/* Modal plugin */
#qtip-overlay{
	position: fixed;
	left: -10000em;
	top: -10000em;
}

	/* Applied to modals with show.modal.blur set to true */
	#qtip-overlay.blurs{ cursor: pointer; }

	/* Change opacity of overlay here */
	#qtip-overlay div{
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;

		background-color: black;

		opacity: 0.7;
		filter:alpha(opacity=70);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	}

/* Tips plugin */
.ui-tooltip .ui-tooltip-tip{
	margin: 0 auto;
	overflow: hidden;
	z-index: 10;
}

	.ui-tooltip .ui-tooltip-tip,
	.ui-tooltip .ui-tooltip-tip *{
		position: absolute;
		
		line-height: 0.1px !important;
		font-size: 0.1px !important;
		color: #123456;

		background: transparent;
		border: 0px dashed transparent;
	}
	
	.ui-tooltip .ui-tooltip-tip canvas{ top: 0; left: 0; }


/*! Light tooltip style */
.ui-tooltip-light .ui-tooltip-titlebar,
.ui-tooltip-light .ui-tooltip-content{
	border-color: #E2E2E2;
	color: #454545;
}

	.ui-tooltip-light .ui-tooltip-content{
		background-color: white;
	}

	.ui-tooltip-light .ui-tooltip-titlebar{
		background-color: #f1f1f1;
	}


/*! Dark tooltip style */
.ui-tooltip-dark .ui-tooltip-titlebar,
.ui-tooltip-dark .ui-tooltip-content{
	border-color: #303030;
	color: #f3f3f3;
}

	.ui-tooltip-dark .ui-tooltip-content{
		background-color: #505050;
	}

	.ui-tooltip-dark .ui-tooltip-titlebar{
		background-color: #404040;
	}

	.ui-tooltip-dark .ui-tooltip-icon{
		border-color: #444;
	}

	.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover{
		border-color: #303030;
	}


/*! Cream tooltip style */
.ui-tooltip-cream .ui-tooltip-titlebar,
.ui-tooltip-cream .ui-tooltip-content{
	border-color: #F9E98E;
	color: #A27D35;
}

	.ui-tooltip-cream .ui-tooltip-content{
		background-color: #FBF7AA;
	}

	.ui-tooltip-cream .ui-tooltip-titlebar{
		background-color: #F0DE7D;
	}

	.ui-tooltip-cream .ui-state-default .ui-tooltip-icon{
		background-position: -82px 0;
	}


/*! Red tooltip style */
.ui-tooltip-red .ui-tooltip-titlebar,
.ui-tooltip-red .ui-tooltip-content{
	border-color: #D95252;
	color: #912323;
}

	.ui-tooltip-red .ui-tooltip-content{
		background-color: #F78B83;
	}

	.ui-tooltip-red .ui-tooltip-titlebar{
		background-color: #F06D65;
	}

	.ui-tooltip-red .ui-state-default .ui-tooltip-icon{
		background-position: -102px 0;
	}

	.ui-tooltip-red .ui-tooltip-icon{
		border-color: #D95252;
	}

	.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover{
		border-color: #D95252;
	}


/*! Green tooltip style */
.ui-tooltip-green .ui-tooltip-titlebar,
.ui-tooltip-green .ui-tooltip-content{
	border-color: #90D93F;
	color: #3F6219;
}

	.ui-tooltip-green .ui-tooltip-content{
		background-color: #CAED9E;
	}

	.ui-tooltip-green .ui-tooltip-titlebar{
		background-color: #B0DE78;
	}

	.ui-tooltip-green .ui-state-default .ui-tooltip-icon{
		background-position: -42px 0;
	}


/*! Blue tooltip style */
.ui-tooltip-blue .ui-tooltip-titlebar,
.ui-tooltip-blue .ui-tooltip-content{
	border-color: #ADD9ED;
	color: #5E99BD;
}

	.ui-tooltip-blue .ui-tooltip-content{
		background-color: #E5F6FE;
	}

	.ui-tooltip-blue .ui-tooltip-titlebar{
		background-color: #D0E9F5;
	}

	.ui-tooltip-blue .ui-state-default .ui-tooltip-icon{
		background-position: -2px 0;
	}

/*! Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE6+, Safari 2+ */
.ui-tooltip-shadow{
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

	.ui-tooltip-shadow .ui-tooltip-titlebar,
	.ui-tooltip-shadow .ui-tooltip-content{
		filter: progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3);
		-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3)";

		_margin-bottom: -3px; /* IE6 */
		.margin-bottom: -3px; /* IE7 */
	}


/*! Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.ui-tooltip-rounded,
.ui-tooltip-rounded .ui-tooltip-content,
.ui-tooltip-tipsy,
.ui-tooltip-tipsy .ui-tooltip-content,
.ui-tooltip-youtube,
.ui-tooltip-youtube .ui-tooltip-content{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.ui-tooltip-rounded .ui-tooltip-titlebar,
.ui-tooltip-tipsy .ui-tooltip-titlebar,
.ui-tooltip-youtube .ui-tooltip-titlebar{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.ui-tooltip-rounded .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-tipsy .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-youtube .ui-tooltip-titlebar + .ui-tooltip-content{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}


/*! Youtube tooltip style */
.ui-tooltip-youtube{
	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;
}

	.ui-tooltip-youtube .ui-tooltip-titlebar,
	.ui-tooltip-youtube .ui-tooltip-content{
		_margin-bottom: 0; /* IE6 */
		.margin-bottom: 0; /* IE7 */

		background: transparent;
		background: rgba(0, 0, 0, 0.85);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";

		color: white;
		border-color: #CCCCCC;
	}

	.ui-tooltip-youtube .ui-tooltip-icon{
		border-color: #222;
	}

	.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover{
		border-color: #303030;
	}


/* jQuery TOOLS Tooltip style */
.ui-tooltip-jtools{
	background: #232323;
	background: rgba(0, 0, 0, 0.7);
	background-image: -moz-linear-gradient(top, #717171, #232323);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
	
	border: 2px solid #ddd;
	border: 2px solid rgba(241,241,241,1);

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	-webkit-box-shadow: 0 0 12px #333;
	-moz-box-shadow: 0 0 12px #333;
	box-shadow: 0 0 12px #333;
}

	/* IE Specific */
	.ui-tooltip-jtools .ui-tooltip-titlebar{
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
	}
	.ui-tooltip-jtools .ui-tooltip-content{
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
	}

	.ui-tooltip-jtools .ui-tooltip-titlebar,
	.ui-tooltip-jtools .ui-tooltip-content{
		background: transparent;
		color: white;
		border: 0 dashed transparent;
	}

	.ui-tooltip-jtools .ui-tooltip-icon{
		border-color: #555;
	}

	.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover{
		border-color: #333;
	}


/* Cluetip style */
.ui-tooltip-cluetip{
	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

	.ui-tooltip-cluetip .ui-tooltip-titlebar{
		background-color: #87876A;
		color: white;
		border: 0 dashed transparent;
	}

	.ui-tooltip-cluetip .ui-tooltip-content{
		background-color: #D9D9C2;
		color: #111;
		border: 0 dashed transparent;
	}
	
	.ui-tooltip-cluetip .ui-tooltip-icon{
		border-color: #808064;
	}
	
	.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover{
		border-color: #696952;
		color: #696952;
	}


/* Tipsy style */
.ui-tooltip-tipsy{
	border: 0;
}

	.ui-tooltip-tipsy .ui-tooltip-titlebar,
	.ui-tooltip-tipsy .ui-tooltip-content{
		_margin-bottom: 0; /* IE6 */
		.margin-bottom: 0; /* IE7 */

		background: transparent;
		background: rgba(0, 0, 0, .87);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";
		
		color: white;
		border: 0px transparent;

		font-size: 11px;
		font-family: 'Lucida Grande', sans-serif;
		font-weight: bold;
		line-height: 16px;
		text-shadow: 0 1px black;
	}

	.ui-tooltip-tipsy .ui-tooltip-titlebar{
		padding: 6px 35px 0 10;
	}

	.ui-tooltip-tipsy .ui-tooltip-content{
		padding: 6px 10;
	}
	
	.ui-tooltip-tipsy .ui-tooltip-icon{
		border-color: #222;
		text-shadow: none;
	}

	.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover{
		border-color: #303030;
	}


/* Tipped style */
.ui-tooltip-tipped{

}
	
	.ui-tooltip-tipped .ui-tooltip-titlebar,
	.ui-tooltip-tipped .ui-tooltip-content{
		border: 3px solid #959FA9;

		filter: none; -ms-filter: none;
	}

	.ui-tooltip-tipped .ui-tooltip-titlebar{
		background: #3A79B8;
		background-image: -moz-linear-gradient(top, #3A79B8, #2E629D);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#3A79B8), to(#2E629D));
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";

		color: white;
		font-weight: normal;
		font-family: serif;

		border-bottom-width: 0;
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}
	
	.ui-tooltip-tipped .ui-tooltip-content{
		background-color: #F9F9F9;
		color: #454545;

		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
	}

	.ui-tooltip-tipped .ui-tooltip-icon{
		border: 2px solid #285589;
		background: #285589;
	}
		
		.ui-tooltip-tipped .ui-tooltip-icon .ui-icon{
			background-color: #FBFBFB;
			color: #555;
		}

/* IE9 fix - removes all filters */
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content,
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar{
	filter: none;
	-ms-filter: none;
}

#guestbookposts{
    overflow: visible;
}
.halfwidth{
    width: calc(99% / 2);
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
	border-radius: 3px;
}
#Character_GuestbookPreviousPage{
    display: block;
    width: 100%; height: 100%;
    cursor: pointer;
    padding: 5px 10px;
}
#CharacterguestbookNextPage{
    text-align: right;
    display: block;
    width: 100%; height: 100%;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
}
#Character_GuestbookPreviousPage:before{
    content: " « ";
}
#CharacterguestbookNextPage:after{
    content: " » ";
}
.GuestbookContents{
    margin-bottom: 5px;
    padding-left: 60px;
}
.GuestbookReply:before{
    content: "Reply:";
    display: block;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 4px;
}

.paragraph, .real-list {
    padding: inherit;
    margin: inherit;
}

.real-list {
    list-style: inherit;
}
